form * {
    display: block;
    margin: 10px;
  }

body {
  display: flex;
  background-color: #E3F6FF;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}

h5 {
  font-family: sans-serif;
  font: arial;
  background-image: linear-gradient(to left, #1B2C80, #205166);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2em;
}

hr {
  border: 2px solid #1B2C80;
  border-radius: 25%;
  width: 230px;
  margin: auto;
}

.plus-button {
  background-color: #96DEFF;
  border-width:  1px;
  border-radius: 25%;
}

.class-selector, .filename-input {
  margin: auto auto 5% auto;
  background-color: #96DEFF;
  border-width: 1px;
  border-color: #4B6F80;
  border-radius: 5%;

}

.download-button {
  background-color: #96DEFF;
  border-width: 1px;
  border-color: #4B6F80;
  border-radius: 10%;
  margin: auto;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}